<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nos produits</title>
	<link rel="stylesheet" href="../src/css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link rel="stylesheet" href="../src/css/main.css">
	<link rel="stylesheet" href="../src/css/products.css">
</head>
<body>

	<nav></nav>

	<section class="description">
		<div class="container">
			<p>
				Nos produits correspondent à des standards issus des besoins de nos nombreux clients.
				L’expérience qui est la notre ajoutée à notre capacité de fabrication, nous permet de concevoir rapidement des produits liés à de nouveaux concepts, alors n’hésitez pas à prendre contact avec nous.
				Toute notre fabrication est conforme aux réglementations européennes et à d’autres exigences normatives selon les domaines d’utilisation.
			</p>
		</div>
	</section>

	<section class="products">
		<div class="products-description">
		<div class="products-title">
			<h2>DÉSENFUMAGE</h2>
		</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus dolorum laborum repellendus quae, numquam suscipit animi nesciunt quibusdam! Autem possimus architecto quis quasi dolorum, repellendus voluptate quos odio nemo inventore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatibus veritatis obcaecati repellendus aliquid molestias possimus esse, nostrum earum consequuntur ab, tempore, excepturi corporis soluta saepe reprehenderit numquam eveniet? Ratione.
			</p>
		</div>
	</section>

	<section class="products-slider">
		<div class="left-arrow">
			<img src="../src/img/left-arrow.png" alt="">
		</div>
		<div class="images"></div>
		<div class="right-arrow">
			<img src="../src/img/right-arrow.png" alt="">
		</div>
	</section>
	
	<script src="../src/js/main.js"></script>
</body>
</html>